.hero {
    width: 100%;
    height: 120vh;
    object-fit: cover;
    background-color: #141414;
    background: url(Narcos.jpg) no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: left;
    color: white;
    padding: 20px;
  }

.hero-content {
    padding-bottom: 200px;
}

.hero-label {
    font-size: 2rem;    
    margin: 10px 0;
    font-weight: bold;
}

.original {
   font-size: 2rem;
   margin: 10px 0;
}

.hero-title {
    font-size: 4rem;
    margin: 10px 0;
    font-weight: bold;
}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 15px;
}

.hero-buttons button {
    opacity: 0.3; /* Applique une transparence à 30 % */
    background-color: rgba(255, 255, 255, 0.8); /* Je m'assure que la couleur d'arrière-plan prend en charge la transparence */
    border: 1px solid #fff; /* Exemple de bordure, j'ajuste selon mes besoins */
    padding: 10px 36px; /* J'ajuste les dimensions du bouton */
    border-radius: 5px; /* Coin légèrement arrondi, optionnel */
    transition: opacity 0.3s ease; /* Pour un effet plus fluide lors d'un hover */
}

.hero-buttons button:hover {
    opacity: 1; /* Rend le bouton totalement opaque lorsqu'on le survole */
}