header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #141414;
  padding: 18px 60px;
}

.header__left {
  display: flex;
  align-items: center;
  gap: 45px;
}

.logo {
  height: 34px;
}

nav,
.header__right {
  display: none;
}

.burger__icon {
  height: 30px;
}

@media screen and (min-width: 1200px) {
  .burger {
    display: none;
  }

  nav,
  .header__right {
    position: relative; /* Nécessaire pour positionner le menu déroulant */
    display: flex;
    align-items: center;
    gap: 16px;
    color: #ffffff;
  }

  .header__right img:not(.avatar__dropdown) {
    height: 30px;
  }

  .avatar {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .avatar__dropdown {
    height: 6px;
  }
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #141414;
  border: 1px solid #333;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 150px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dropdown-menu a {
  color: white;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.dropdown-menu a:hover {
  background-color: #333;
}